---
layout: page
title: 부원 소개
permalink: /authors/
sitemap: yes
excerpt: 부원 소개
tags: []
image: /files/covers/authorpage_cover.jpeg
---

<link rel="stylesheet" href="../assets/css/authorlist.css">
{% assign authorgroups = site.authors | group_by: 'active' %}


<!-- Prior Groups -->
{% for g in authorgroups %}
	{% if g.name %}
		{% assign ag = g.items | group_by: 'order' %}
		{% for group in ag %}
			<h1>{{ group.name }}기</h1>
			<div class="row">
			{% assign modiauthors = group.items | sort: 'title' %}
			{% for author in modiauthors %}
				<div class="authorcard-container">
					<div class="authorcard" onclick="location.href='{{ site.baseurl }}/authors/{{ author.name }}';">
						<span style="background-color: #CAD5DF;box-shadow: 0 0 0 30px #CAD5DF;">
						<br/>
						<div class="authorcardprofile" {% if author.image %}style="background-image: url({{ author.image }});"{% endif %}></div>
						</span>
						<p style="margin-top:40px;">{{ author.title }} ({{ author.name }}) {{ author.class | default:'' }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		{% continue %}
	{% endif %}
{% endfor %}

<br><br>

<!-- non-Prior Groups -->
{% for g in authorgroups %}
	{% if g.name %}
		{% continue %}
	{% else %}
		{% assign ag = g.items | group_by: 'order' %}
		{% for group in ag %}
			<h1 style="color:#A0A0A0">{{ group.name }}기</h1>
			<div class="row">
			{% assign modiauthors = group.items | sort: 'title' %}
			{% for author in modiauthors %}
				<div class="authorcard-container">
					<div class="authorcard" onclick="location.href='{{ site.baseurl }}/authors/{{ author.name }}';">
						<span style="background-color: #CAD5DF;box-shadow: 0 0 0 30px #CAD5DF;">
						<br/>
						<div class="authorcardprofile" {% if author.image %}style="background-image: url({{ author.image }});"{% endif %}></div>
						</span>
						<p style="margin-top:40px;">{{ author.title }} ({{ author.name }}) {{ author.class | default:'' }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	{% endif %}
{% endfor %}